<div class="row">
    {% set color = ["second", "brand-dark", "brand"] %}
    {% set index = 0 %}

    {% for formation in formations %}
        <div class='col-12 col-sm-6'>
            <div class="box-shadow h-adaptative my-3
                {% if formation.agrement == 0 %}
                    btn-{{ color[index] }}-disabled">
                {% else %}
                    btn-{{ color[index] }}" onclick="location.href = '{{ path(formation.route) }}'">
                {% endif %}

                <picture>
                    <source srcset="{{ asset('build/images/' ~ formation.image ~ '.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/' ~ formation.image ~ '.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/' ~ formation.image ~ '.jpg') }}"
                         alt="{{ formation.libelle }}"
                         class="w-100 form-image">
                </picture>
                <h3 class="pt-2">{{ formation.libelle }}</h3>

                {% if formation.agrement == 0 %}
                    {% set info = "EN ATTENTE D'AGREMENT..." %}
                    <div class="text-disabled" data="{{ info }}"></div>
                {% endif %}
            </div>
        </div>

        {% set index = index + 1 %}

        {% if index > 2 %}
            {% set index = 0 %}
        {% endif %}
    {% endfor %}
</div>