<div class="row">
    {% set color = ["second", "brand-dark", "brand"] %}
    {% set index = 0 %}

    {% for formation in formations %}
        <div class='col-12 col-sm-6'>
            <div class="card box-shadow h-adaptative my-3
                {% if formation.agrement == 0 %}
                    btn-{{ color[index] }}-disabled">
                {% else %}
                    btn-{{ color[index] }}" onclick="location.href = '{{ path('app_formation_show', {formationId: formation.id}) }}'">
                {% endif %}


                <img src="{{ asset('uploads/images/formations/'~formation.image) }}"
                     alt="{{ formation.libelle }}"
                     class="card-image w-100 form-image">
                <h3 class="pt-2">{{ formation.libelle }}</h3>

                {% if formation.agrement == 0 %}
                    {% set info = "EN ATTENTE D'AGREMENT..." %}
                    <div class="card-img-overlay d-flex align-items-center justify-content-center text-white fs-3">
                        <div class="text-center">{{ info }}</div>
                    </div>
                {% endif %}
            </div>
        </div>

        {% set index = index + 1 %}
        {% if index > 2 %}
            {% set index = 0 %}
        {% endif %}
    {% endfor %}
</div>