{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Formations - Installation de Bassin Paysager de type LAGOON&reg;{% endblock %}

{% block description %}Devenez installateur de piscines écologiques LAGOON&reg; en résine naturelle et EPDM.
    Vous apprendrez un concept révolutionnaire et durable breveté. Cette formation est certifiée Qualiopi.{% endblock %}

{% block body %}
    <div id="corps" class="container-fluid">
        <div class="row">
            <div class="bassin-title">
                <div class="text-title section">
                    <h1 class="text-brand">
                        Installation de bassin paysager de type LAGOON&reg;
                    </h1>
                    <p>
                        Vous êtes paysagiste, applicateur indépendant, maçon, chef de chantiers, chef
                        d'entreprise, carreleur ou encore pisciniste et êtes intéressé par la technologie
                        LAGOON&reg; ?
                    </p>
                    <p>
                        Devenez installateur LAGOON&reg; et entrez dans un marché en pleine expansion !
                    </p>
                    <div class="d-flex">
                        <a
                                class="btn btn-second btn-lg"
                                href="{{ path('app_ask') }}"
                        >
                            <i class="fa fa-play" aria-hidden="true"></i>
                            &nbsp;Faire une demande de formation
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section bg-brand-gradient-light text-light box-radius my-4">
            <div class="col-12 col-md-7 col-sm-9 order-2 order-sm-1 p-4">
                <h2>Le concept des bassins LAGOON&reg;</h2>
                <p>
                    Sans béton, sans ferraille, vous apprendrez à réaliser la structure de bassins
                    LAGOON® brevetée qui utilise des matériaux respectueux de l’environnement.
                </p>
                <a
                        class="btn btn-outline-second"
                        href="https://lagoon-piscines.com/index.php?action=concept"
                        target="_blank"
                >
                    En savoir plus
                </a>
            </div>
            <div class="col-10 col-md-5 col-sm-3 order-1 order-sm-2 p-4">
                <img src="{{ asset('build/images/concept.webp') }}" class="w-100"/>
            </div>
        </div>

        <div class="row section">
            <div class="col-lg-10 mx-auto my-5">
                <h2 class="text-center size-2 text-brand-dark">Votre formation pas à pas</h2>
                <!-- Timeline -->
                <ul class="timeline-dark">
                    <li class="timeline-item-dark d-flex align-items-center">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/formation/demande.webp') }}" type="image/webp" class="">
                                    <source srcset="{{ asset('build/images/formation/demande.jpg') }}" type="image/jpeg" class="">
                                    <img src="{{ asset('build/images/formation/demande.jpg') }}" alt="Une personne devant un ordinateur" class="m-3 m-md-5 w-75">
                                </picture>
                            </div>
                            <div class="col-12 col-md-1 overlay-picture number text-second text-center">1</div>
                            <div class="col-12 col-md-6 px-4 p-md-2 text-center">
                                <h3 class="size-3 text-second">
                                    Vous faites une demande de formation en ligne
                                </h3>
                                <p>
                                    En quelques clics, vous effectuez une <a href="{{ path('app_ask') }}">demande de formation en ligne</a> en
                                    nous indiquant vos compétences, et les dates auxquelles vous souhaitez
                                    effectuer votre formation.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark row align-items-center bg-shape-second1 bg-shape-all">
                        <div class="col-12 col-md-5">
                            <div class="row">
                                <div class="col-12 w-75 mx-auto">
                                    <picture>
                                        <source srcset="{{ asset('build/images/formation/form-1.webp') }}" type="image/webp" class="">
                                        <source srcset="{{ asset('build/images/formation/form-1.jpg') }}" type="image/jpeg" class="">
                                        <img src="{{ asset('build/images/formation/form-1.jpg') }}" alt="Un homme appliquant de l'enduit ou de la résine sur les bords d'un LAGOON" class="my-3 w-100">
                                    </picture>
                                </div>
                                <div class="col-12 d-flex align-items-start w-75 mx-auto">
                                    <picture>
                                        <source srcset="{{ asset('build/images/formation/form-2.webp') }}" type="image/webp" class="">
                                        <source srcset="{{ asset('build/images/formation/form-2.jpg') }}" type="image/jpeg" class="">
                                        <img src="{{ asset('build/images/formation/form-2.jpg') }}" alt="Un homme en formation LAGOON" class="w-100">
                                    </picture>
                                    <picture>
                                        <source srcset="{{ asset('build/images/formation/form-4.webp') }}" type="image/webp" class="">
                                        <source srcset="{{ asset('build/images/formation/form-4.jpg') }}" type="image/jpeg" class="">
                                        <img src="{{ asset('build/images/formation/form-4.jpg') }}" alt="Plusieurs personnes à une table écoutant un formateur LAGOON" class="ms-3 w-100">
                                    </picture>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-1 overlay-picture size-big number text-center">2</div>
                        <div class="col-12 col-md-6 text-center px-4 px-md-none">
                            <h2 class="text-second size-3">
                                Vous démarrez une formation personnalisée, rapide, pratique et
                                efficace
                            </h2>
                            <p>
                                Sur une durée maximale de 4 jours dans les conditions réelles d’un
                                chantier, vous apprendrez aux côtés de formateurs expérimentés :
                            <ul>
                                <li>Etanchéité de bassin</li>
                                <li>Aménagement paysager</li>
                                <li>Hydraulique</li>
                                <li>Application d’enduit ou de résine décorative</li>
                                <li>
                                    Maitrise des outils professionnels pour obtenir un résultat
                                    de qualité
                                </li>
                                <li>
                                    Les gestes et postures de sécurité pour des réalisations en
                                    toute sécurité
                                </li>
                            </ul>
                            </p>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center bg-shape-blue2 bg-shape-all">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/formation/attestation.webp') }}" type="image/webp" class="">
                                    <source srcset="{{ asset('build/images/formation/attestation.jpg') }}" type="image/jpeg" class="">
                                    <img src="{{ asset('build/images/formation/attestation.jpg') }}" alt="Une personne donne une feuille à une autre personne" class="m-3 m-md-5 w-75">
                                </picture>
                            </div>
                            <div class="col-12 col-md-1 overlay-picture size-big number text-center">3</div>
                            <div class="col-12 col-md-6 py-none py-sm-2 px-3 text-center px-4 px-md-none">
                                <h3 class="text-second size-3">
                                    Vous obtenez une attestation de formation professionnelle
                                </h3>
                                <p>
                                    Cette formation est sanctionnée par une attestation de formation valable
                                    2 ans.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-item-dark d-flex align-items-center bg-shape-second2 bg-shape-all">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-5 text-center">
                                <picture>
                                    <source srcset="{{ asset('build/images/formation/partenariat.webp') }}" type="image/webp" class="">
                                    <source srcset="{{ asset('build/images/formation/attestation.jpg') }}" type="image/jpeg" class="">
                                    <img src="{{ asset('build/images/formation/attestation.jpg') }}" alt="Poignée de main" class="m-3 m-md-5 w-75">
                                </picture>
                            </div>
                            <div class="col-12 col-md-1 overlay-picture size-big number text-center">4</div>
                            <div class="col-12 col-md-6 py-none py-sm-2 px-3 text-center px-4 px-md-none">
                                <h3 class="size-3 text-second">
                                    Un partenariat sur la durée
                                </h3>
                                <p>
                                    Après votre formation, vous ne serez pas livrés à vous-mêmes ! Si vous le désirez,
                                    vous pourrez faire partie du réseau des installateurs LAGOON&reg; Piscines.
                                    <span
                                            class="tt"
                                            data-bs-placement="top"
                                            title="Pour faire partie du réseau des installateurs LAGOON&reg; Piscines, vous devez avoir constitué une équipe de 2 personnes formées et ayant réussi l'examen de fin de formation. De plus, vous devez avoir réussi le contrôle qualité de votre premier chantier. Ce partenariat est renouvelable tous les deux ans."
                                    >
									<a href="#partenariat"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
								</span><br>
                                    Vous pourrez alors bénéficier :
                                <ul><li>de prix préférentiels</li>
                                    <li>d’une assistance commerciale pour créer votre clientèle</li>
                                    <li>
                                        d'une assistance technique qui vous suivra dans la réalisation de vos chantiers
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section">
            <div class="box-shadow bg-second-light">
                <h2 class="text-center size-2 mb-5">Nos partenaires sont satisfaits</h2>

                <div class="row">
                    <div class="col-12 col-sm-4 text-center text-second fw-bold">
                        <div class="size-1">
                            85%
                        </div>
                        Taux d'agrément entreprise
                    </div>

                    <div class="col-12 col-sm-4 text-center text-brand fw-bold">
                        <div class="size-1">
                            100%
                        </div>
                        Taux de réussite individuelle
                    </div>

                    <div class="col-12 col-sm-4 text-center text-second fw-bold">
                        <div class="size-1">
                            95%
                        </div>
                        Taux de satisfaction
                    </div>
                </div>
            </div>
        </div>

        <div class="row section bg-dark text-light">
            <h2 class="text-center thin">Des commentaires</h2>

            <div id="carouselClients" class="carousel carousel-light slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>
                                Top ! L'équilibre temps de théorie et de pratique était très bien. De plus,
                                les formateurs savent très bien se mobiliser et s'adapter aux participants.
                            </em>
                        </p>

                        <p class="w-75 mx-auto">
                            <strong>Christophe<br></strong>
                            Paris
                        </p>
                    </div>

                    <div class="carousel-item text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>Merci pour tout, super équipe, formateurs au top !</em>
                        </p>
                        <strong>Florian<br></strong>
                        Alsace
                    </div>

                    <div class="carousel-item text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>
                                Parfaits formateurs ! Les supports pédagogiques sont suffisants et clairs,
                                utilisables et exploitables pour la suite
                            </em>
                        </p>

                        <p class="w-75 mx-auto">
                            <strong>Ludovic<br></strong>
                            Salon de Provence
                        </p>
                    </div>

                    <div class="carousel-item text-center mt-4" data-bs-interval="5000">
                        <p class="w-75 mx-auto">
                            <em>
                                Un grand merci à toute l'équipe ! J'ai kiffé grave.
                            </em>
                        </p>

                        <p class="w-75 mx-auto">
                            <strong>Lancelot<br></strong>
                            Alsace
                        </p>
                    </div>
                </div>

                <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#carouselClients"
                        data-bs-slide="prev"
                >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button
                        class="carousel-control-next"
                        type="button"
                        data-bs-target="#carouselClients"
                        data-bs-slide="next"
                >
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


        <div class="row section justify-content-around align-items-center">
            <div class="col-12 col-sm-4">
                <picture>
                    <source srcset="{{ asset('build/images/formation/demarrer_metier.webp') }}" type="image/webp" class="w-100">
                    <source srcset="{{ asset('build/images/formation/demarrer_metier.jpg') }}" type="image/jpeg" class="w-100">
                    <img src="{{ asset('build/images/formation/demarrer_metier.jpg') }}" alt="Trois personnes formées par LAGOON" class="w-100">
                </picture>
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text-brand">
                    Prêts à démarrer votre nouveau métier ?
                </h2>
                <div>
                    <a
                            type="button"
                            class="btn btn-second btn-lg"
                            href="{{ path('app_ask') }}"
                    >
                        <i class="fa fa-play" aria-hidden="true"></i>
                        &nbsp;Faites une demande de formation en ligne
                    </a>
                </div>
            </div>
        </div>

        <div class="row section d-flex justify-content-around align-items-center">
            <div class="col-12 col-sm-8 order-2 order-sm-1 pt-4">
                <h2 class="text-brand">
                    Envie d'en savoir plus ?
                </h2>
                <p>
                    Parcourez notre charte de qualité, les conditions de la formation, ou encore le
                    programme de la formation proposée.
                </p>
                <div>
                    <button
                            type="button"
                            class="btn btn-second btn-lg"
                            data-bs-toggle="modal"
                            data-bs-target="#documentation"
                    >
                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                        &nbsp;Voir la documentation
                    </button>
                </div>
            </div>
            <div class="col-12 col-sm-4 order-1 order-sm-2 text-center">
                <i class="fas fa-file-alt size-big"></i>
            </div>
        </div>
    </div>

    {% include 'formation/reusables/documentation.html.twig' %}

{% endblock %}