{% extends 'base.html.twig' %}

{% block title %}LAGOON&reg; Formations - Domotique et traitement de l'eau écologique et environnemental{% endblock %}

{% block description %}
    Cette formation vous qualifie pour mettre en place un local technique pour piscine écologique. Vous apprendrez les
    techniques et matériaux de filtration et traitement de l'eau respectueux de l'environnement.
{% endblock %}

{% block body %}
    <div id="corps" class="container-fluid">
        <div class="row">
            <div class="traitement-title">
                <div class="text-title section">
                    <h1 class="text-brand">
                        Domotique et traitement de l'eau écologique et environnemental
                    </h1>
                    <p>
                        Apprenez à installer une alternative douce et naturelle aux
                        traitements de l'eau des piscines les plus répandus et à en faire l'exploitation. Vous apprendrez
                        à mettre en place un local technique piscine écologique.
                    </p>
                    <div class="d-flex">
                        <a
                                class="btn btn-second btn-lg"
                                href="{{ path('app_ask') }}"
                        >
                            <i class="fa fa-play" aria-hidden="true"></i>
                            &nbsp;Faire une demande de formation
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row section bg-brand-gradient-light text-light box-radius my-4">
            <div class="col-12 col-md-7 col-sm-9 order-2 order-sm-1 p-4">
                <p>
                    L’eau des piscines est particulièrement propice à la prolifération des
                    germes, des bactéries, des algues… Il est nécessaire de la traiter et la
                    désinfecter avec la plus grande rigueur.
                </p>

                <p>
                    Cependant, le traitement de l'eau d'une piscine occasionne souvent l'utilisation de produits
                    nuisibles à l'environnement, abrasifs pour la peau, et parfois difficile
                    à maintenir pour garantir une eau toujours bien traitée.
                </p>
            </div>
            <div class="col-10 col-md-5 col-sm-3 order-1 order-sm-2 p-4">
                <picture>
                    <source srcset="{{ asset('build/images/piscine.webp') }}" type="image/webp" class="">
                    <source srcset="{{ asset('build/images/piscine.jpg') }}" type="image/jpeg" class="">
                    <img src="{{ asset('build/images/piscine.jpg') }}" alt="Une piscine avec une eau filtrée écologiquement" class="w-100">
                </picture>
            </div>
        </div>

        <div class="row section">
            <div class="my-5">
                <h2 class="text-center size-2 text-brand-dark">Objectifs de la formation</h2>
                <p>
                    Vous apprendrez...
                <ul>
                    <li>
                        À choisir et mettre en place un traitement de l'eau des piscines
                        respectueux de votre peau, écologique.
                    </li>
                    <li>
                        A installer des solutions de domotique pour permettre de contrôler et
                        réguler son bassin de nage à distance.
                    </li>
                    <li>
                        A garantir continuellement une efficacité de traitement et de filtration.
                    </li>
                </ul>
                </p>
                <div class="w-adaptative mx-auto">
                    <picture>
                        <source srcset="{{ asset('build/images/eau.webp') }}" type="image/webp" class="">
                        <source srcset="{{ asset('build/images/eau.jpg') }}" type="image/jpeg" class="">
                        <img src="{{ asset('build/images/eau.jpg') }}" alt="Une femme dans une piscine avec une eau claire" class="w-100">
                    </picture>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="box-shadow bg-second-light text-brand row">
                <div class="col-12 col-sm-4 text-center align-self-center">
                    <i class="fas fa-user size-big"></i>
                </div>

                <div class="col-12 col-sm-8 pt-4">
                    <h2 class="size-2 mb-5">A qui s'adresse la formation</h2>

                    <p>
                        Ciblée pour les particuliers et les professionnels qui souhaitent connaitre
                        la mise en place d'un système de traitement écologique de l'eau dans une
                        piscine ainsi que de la domotique associée pour garantir une eau toujours saine.
                    </p>
                </div>
            </div>
        </div>

        {% include 'formation/reusables/call_to_action.html.twig' %}
    </div>

    {% include 'formation/reusables/documentation.html.twig' %}
{% endblock %}